<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログインフォーム</title>
</head>
<body>
    <div id="login-page">
        <input id="username-filed">
        <input id="password-filed">
        <button type="submit"   class="submit">ログイン
    </div>
    <a href="/index" class="cancel-button">Back to home</a>
</body>
</html>